**/.DS_Store

asset-uploader/node_modules
asset-uploader/.env

client/node_modules
client/dist
client/.env

blockchain/node_modules
blockchain/artifacts
blockchain/cache
blockchain/.env

swdp-test-blockchain/node_modules
swdp-test-blockchain/artifacts
swdp-test-blockchain/cache
