#claim-card-page {
  pointer-events: none;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
}

#main-content {
  width: 100%;
  height: 100px;
  background: rgb(167, 167, 167);
}

#page-title {
  text-align: center;
  height: 50px;
  background: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  font-size: 1.6em;
  line-height: 180%;
  border: 4px solid rgb(0, 195, 255);
  box-sizing: border-box;
}

.input-code {
  padding: 5px;
  caret-color: auto;
  pointer-events: all;
  height: 30px;
  width: 180px;
}