#footer-container {
  position: fixed;
  bottom: 0px;
  width: 80%;
  height: 5vh;
  color: white;
  background: rgb(31, 35, 43)
}

#footer-text {
  margin: 0 auto;
}

.footer {
  display: flex;
  background: red;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  height: 5vh;
}
