#header-container {
  width: 100%;
  height: 50px;
  background: rgb(255, 255, 255);
}

#header-items-container {
  display: flex;
  justify-content: space-between;
}

.header-items-left {
  width: 20%;
  height: 50px;
  display: flex;
  justify-content: left;
}

.header-items-right {
  width: 20%;
  height: 50px;
  display: flex;
  justify-content: right;
}

#header-wallet {
  margin: 5px;
  height: 40px;
  background: rgb(255, 255, 255);
  pointer-events: all;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 5px;
}

#header-wallet:hover {
  background: rgb(255, 167, 167);
  cursor: pointer;
}

#header-title {
  margin-top: 7px;
  font-size: 1.95em;
}

#header-logo {
  padding: 5px;
  width: 40px;
  height: 40px;
}

.header {
  display: flex;
  width: 100%;
  height: 5vh;
}

.header-side {
  width: 40%;
  height: 5vh;
}
