
#landing-page {
  margin: 0 auto;
  opacity: 0.5;
  background: red;
  width: 65vw;
  height: 30vh;
}

.landing-title {
  font-size: 3em;
  text-align: center;
}

.landing-description {
  font-size: 2em;
  text-align: center;
}
