#landing-page {
  pointer-events: none;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
}

#landing-page-content {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#landing-title-description {
  background: rgba(255, 255, 255, 0.5);
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.landing-title {
  font-size: 3em;
  text-align: center;
}

.landing-description {
  font-size: 2em;
  text-align: center;
}
