
#landing-page {
  pointer-events: none;
  margin: 0 auto;
  background: red;
  width: 80%;
}

.landing-title {
  font-size: 3em;
  text-align: center;
}

.landing-description {
  font-size: 2em;
  text-align: center;
}
