#nav {
  height: 50px;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}

.nav-link {
  height: 45px;
  pointer-events: all;
  text-decoration: none;
  color: green;
  font-size: 1.4em;
  box-shadow: 2px 2px #aaa;
  border: 2px solid black;
  line-height: 45px;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-link:hover {
  background: red;
}