@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

/* amiko-regular - latin */
@font-face {
  font-family: 'Amiko';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/amiko-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/amiko-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/amiko-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/amiko-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/amiko-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/amiko-v5-latin-regular.svg#Amiko') format('svg'); /* Legacy iOS */
}

*, html {
  padding: 0;
  margin: 0;
  font-family: 'Amiko', Fallback, sans-serif;
}

body {
  pointer-events: none;
}

.enable-input {
  pointer-events: all;
}

input[type=text] {
  border-radius: 5px;
}

textarea {
  border-radius: 5px;
}